.warning {
    border: 10px ridge rgb(0, 255, 234);
    background-color: rgb(0, 183, 255);
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

span.ingredient {
    color: rgb(255, 0, 119);
}

.sample{ 
    border: 10px ridge rgb(0, 255, 234);
    background-color: rgb(0, 183, 255);
    padding: .5rem;
    display: flex;
    flex-direction: column;
}